#start, #status {
    font-size: 22px;
}

.big_image {

    width: 100%;

}

.heading button {
    float: right;
    border: solid blue;
}

.heading h1 {
    display: inline;
    font-size: 18px;
}

.heading {
    width: 100%;
    text-align: left;
}